* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFE6A7;
    color: #432818;
    line-height: 1.6;
}

.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7d498;
    box-shadow: 0 2px 6px rgba(153, 88, 42, 0.5);
    position: relative;
}

.header__brand {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__logo {
    width: 50px;
    border-radius: 50%;
}

.header__title {
    font-size: 1.6rem;
    color: #6F1D1B;
}

.header__nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #6F1D1B;
    font-weight: 600;
}

.header__menu-btn {
    display: none;
    border: none;
    background: none;
    cursor: pointer;
}

.hero {
    padding: 80px 20px;
    text-align: center;
    background: url('assets/hero-coffee.png') center / cover no-repeat;
    color: #FFE6A7;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(82, 57, 40, 0.45);
    backdrop-filter: blur(2px);
    z-index: 1;
}

.hero > * {
    position: relative;
    z-index: 2;
}

.hero h2 {
    font-size: 2.4rem;
    margin-bottom: 10px;
}

.hero p {
    max-width: 600px;
    margin: 0 auto 20px;
    font-size: 1.1rem;
}

.btn {
    display: inline-block;
    background-color: #6F1D1B;
    padding: 12px 26px;
    color: #EAE2B7;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.2s ease;
}

.btn:hover {
    background-color: #800E13;
}

.menu {
    padding: 60px 20px;
    text-align: center;
}

.menu__header h3 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.menu__list {
    max-width: 900px;
    margin: 0 auto;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.menu-card {
    background-color: #EAE2B7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(153, 88, 42, 0.8);
    transition: transform 0.2s ease;
}

.menu-card:hover {
    transform: translateY(-4px)
}

.menu-card img {
    width: 100px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.card h4 {
    margin-bottom: 8px;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: #6F1D1B;
    color: #EAE2B7;
    margin-top: 60px;
}

@media (max-width: 768px) {
    .header__menu-btn {
        display: block;
    }

    .header__nav {
        display: none;
        flex-direction: column;
        background: #6F1D1B;
        position: absolute;
        top: 80px;
        right: 0px;
        padding: 15px;
        border-radius: 10px 0 0 0;
        box-shadow: 0 2px 8px rgba(82, 57, 40, 0.2);
        z-index: 9999;
    }

    .header__nav a {
        color: #FFE6A7;
        margin: 10px 0;
        display: block;
        
    }

    .header__nav.active {
        display: flex;
    }
}